/*
  Global App CSS
  ----------------------
  Use this file for styles that should be applied to all components.
  For example, "font-family" within the "body" selector is a CSS property
  most apps will want applied to all components.

  Any global CSS variables should also be applied here.
*/

body {
  margin: 0px;
  padding: 0px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

button {
  background: #5851ff;
  color: white;
  margin-right: 16px;
  border: none;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 16px 20px;
  border-radius: 2px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
  outline: 0;
  letter-spacing: 0.04em;
  transition: all 0.15s ease;
  cursor: pointer;
}

button:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.1);
  transform: translateY(1px);
}

button:disabled {
  opacity: 0.5;
}

.card {
  padding: 16px;
  border: 1px solid #eee;
  border-radius: 16px;
  margin: 24px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.16);
}

.machine-status {
}

.machine-controls {
}

.machine-undo-redo {
}

.label {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12px;
}
